<head>
  <title>Página de Serviços</title>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="slidBanner">
    <div id="textoSlid">
      <p>Organizamos e Acompanhamos o teu processo desde o Agendamento a resposta do Consulado até o dezembarque de regreço.</p>
      <p> Uma boa organização do processo, não garante o visto mas, te coloca um passo na frente!</p>

      <p>Clica em <strong class="text-primary">Ver</strong> para ver os nosso Serviços e Productos</p>

      <a href="#" id="cta_ver" class="mt-4 btn btn-primary w-50">Ver</a>
    </div>
  </div>

  <h3 id="ofertaH3" class="m-4">Vistos Disponíveis</h3>

  <div class="row col-11" id="servicos">
    <% servicos.forEach(servico => { %>
    <div class="card">
      
      <% if(servico.name == 'Visto de Turismo'){ %>
        <img class="card-img-top img-fluid" src="/img/services/turismo.jpg" alt="<%=servico.name %>">
      <% } else if(servico.name == 'Visto de Saúde'){ %>
        <img class="card-img-top img-fluid" src="/img/services/saude.jpg" alt="<%=servico.name %>">
      <% } else if(servico.name == 'Visto de Visita Familiar'){ %>
        <img class="card-img-top img-fluid" src="/img/services/visita_familiar.jpg" alt="<%=servico.name %>">
      <% } else if(servico.name == 'Visto de Formação'){ %>
        <img class="card-img-top img-fluid" src="/img/services/formacao.jpg" alt="<%=servico.name %>">
      <% } else if(servico.name == 'Visto de Trabalho'){ %>
        <img class="card-img-top img-fluid" src="/img/services/trabalho.jpg" alt="<%=servico.name %>">
      <% } else if(servico.name == 'Visto de Procura de Trabalho'){ %>
        <img class="card-img-top img-fluid" src="/img/services/procuradetrabalho.png" alt="<%=servico.name %>">
      <% } else{ %>    
        <img class="card-img-top" src="/img/services/e1df5830ba42ad834f2a9a59bcf1ad24-image_downloader_1661001435121.png" alt="Turismo">
      <% } %> 
        
      <div class="card-body">
        <h5 class="card-title"> <%=servico.name %> </h5>
        <p class="text-muted"> (Paises: Portugal, França, Espanhã, EUA & Brazil) </p>
        
        <div class="card-text">
          
          <strong class="showServico">Cuidamos de:</strong>
          <p class="text-muted">
            <%const microServicos = servico.microServicos.toString() %>

            <%=microServicos %>
          </p>
          <strong class="showServico">Requisitos:</strong>
          <p class="text-muted">
            <%const requisitos = servico.requisitos.toString() %>

            <%=requisitos %>
          </p>
          <p> Ajude-nos a te ajudar. clica em <span class="text-success">ver mais</span> </p>
        </div>

        <div class="card-actions">
            <a href="./service/<%=servico._id%>" class="btn btn-primary d-block">Ver Mais</a>
        </div>
      </div>
        
      <div class="card-footer">
        <p>Gota D' Sol</p>
      </div>
    </div>
    <% }) %>

  </div>

</body>